<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section style="display: flex;"> 
        <form>

            <p> user </p>
            {{user}}
            <button text="submit" > submit </button>
        </form>

        <form>
            <p> profile </p>
            {{profile}}
            <button text="submit" > submit </button>
        </form>

    </section>


    
</body>
</html> 