<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section style="display: flex;"> 
        <form action="{% url 'userdata' %}" method="post">
            {% csrf_token %}
            <p> User Form </p>
            {{user}}
            <button text="submit" > submit </button>
        </form>
        <form action="{% url 'profiledata' %}"  method="post"> 
            {% csrf_token %}
            <p> Profile Form </p>
            {{profile}}
            <button text="submit" > submit </button>
        </form>

    </section>


    <table>
        <thead>
             <td>no</td>
             <td> name </td>
             <td > email </td>
        </thead>
        {% for i in  %}
        <tr> 
            <td> {{foorloop.counter}}</td>
            <td> </td>
        </tr>
    </table>


    
</body>
</html> 